<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
</head>
<body>
    <div class="col-md-6">
        @RenderBody()
    </div>
</body>
</html>
