
@{
    ViewBag.Title = "Error 500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Internal Server Error</h4>
<p>
    An unhandled exception occurred during the execution of the current web request.<br />
    Please <a href="mailto:example@example.com?subject=Exception (Error 500)">contact</a> the administrator.
</p>