
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>An error occurred during your request.</p>
<p>Please refresh the page or contact the administrator if the error is still here.</p>